#  Kestrel Device Configuration

menu "Tracker Demo"
config TRACKER_VERSION_MAJOR
	int "Major verison number"
	default 0

config TRACKER_VERSION_MINOR
	int "Minor verison number"
	default 2

config TRACKER_VERSION_PATCH
	int "Patch verison number"
	default 0

config MQTT_CLIENT_ID
	string "Device ID"
	help
	  Use a custom Device ID string. If not set, the ID will be
	  generated based on IMEI number (for nRF91 Series based targets) or
	  randomly (for other platforms).
	default "359404230244148"

config MQTT_SUB_TOPIC
	string "MQTT subscribe topic"
	default "/input"

config MQTT_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "18.234.99.151"

config MQTT_BROKER_PORT
	int "MQTT broker port"
	default 8883

config MQTT_MESSAGE_BUFFER_SIZE
	int "MQTT message buffer size"
	default 128

config MQTT_PAYLOAD_BUFFER_SIZE
	int "MQTT payload buffer size"
	default 256

config MQTT_PUBLISH_INTERVAL
	int "Fix interval (sec) for publishing the GPS fixes"
	range 1 600
	default 1
	help
	  Fix interval (in seconds) for publishing GPS fixes.
      
config MQTT_RECONNECT_DELAY_S
	int "Seconds to delay before attempting to reconnect to the broker."
	default 60

config BUTTON_EVENT_PUBLISH_MSG
	string "The message to publish on a button event"
	default "Test Message"

config TLS
	bool "Enable TLS"
	default y
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
