#  Kestrel Device Configuration

menu "Tracker Demo"
config TRACKER_VERSION_MAJOR
	int "Major verison number"
	default 0

config TRACKER_VERSION_MINOR
	int "Minor verison number"
	default 2

config TRACKER_VERSION_PATCH
	int "Patch verison number"
	default 0

config TRACKER_PERIODIC_INTERVAL
	int "Fix interval for periodic GPS fixes. This determines your tracking frequency"
	range 0 65535
	default 1
	help
	  Fix interval (in seconds) for periodic fixes:  
      0=single-shot(1 fix, then stop), 1=continuous(1 Hz update), >1=periodic(wake every N sec, then sleep)

config TRACKER_PERIODIC_TIMEOUT
	int "Fix timeout for periodic GPS fixes"
	range 0 65535
	default 600
	help
	  Fix timeout (in seconds) for periodic fixes: 
	  If set to zero, GNSS is allowed to run indefinitely until a valid PVT estimate is produced.

config GNSS_LOW_ACCURACY
	bool "Allow low accuracy fixes."
	help
	  Helps with faster fixes.GNSS demonstrates a looser acceptance criterion for a fix.

config GNSS_HIGH_ACCURACY_TIMING_SOURCE
	bool "Use Crystal oscillator"
	help
	  Use crystal oscillator (TCXO) timing source for the GNSS interface 
	  instead of the default Real time clock (RTC).TCXO has higher power consumption than RTC

config MQTT_CLIENT_ID
	string "Device ID"
	help
	  Use a custom Device ID string. If not set, the ID will be
	  generated based on IMEI number (for nRF91 Series based targets) or
	  randomly (for other platforms).
	default "359404230244148"



config MQTT_SUB_TOPIC
	string "MQTT subscribe topic"
	default "/input"

config MQTT_BROKER_HOSTNAME
	string "MQTT broker hostname"
	default "3.214.163.249"

config MQTT_BROKER_PORT
	int "MQTT broker port"
	default 1883

config MQTT_MESSAGE_BUFFER_SIZE
	int "MQTT message buffer size"
	default 128

config MQTT_PAYLOAD_BUFFER_SIZE
	int "MQTT payload buffer size"
	default 256

config MQTT_PUBLISH_INTERVAL
	int "Fix interval (sec) for publishing the GPS fixes"
	range 1 600
	default 1
	help
	  Fix interval (in seconds) for publishing GPS fixes.
      
config MQTT_RECONNECT_DELAY_S
	int "Seconds to delay before attempting to reconnect to the broker."
	default 60

config BUTTON_EVENT_PUBLISH_MSG
	string "The message to publish on a button event"
	default "Test Message"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
