&i2c2 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
    zephyr,concat-buf-size = <64>;
    zephyr,flash-buf-max-size = <64>;
};

&bme680 {
	status = "okay";
};

&magnetometer {
    status = "okay";
};

&accelerometer_hp {
    status = "okay";
};

&accelerometer_lp {
    status = "okay";
};

/ {

	aliases {
		temp-sensor = &bme680;
		imu = &accelerometer_hp;
		magnetometer = &magnetometer;
		acl = &accelerometer_lp;
	};
};

&flash_ext {
    status = "okay";
};

&spi3 {
	status = "okay";
};